<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
</head>
<body>
    <h2>Пользователи:</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Почта</th>
            <th>Пароль</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.password }}</td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add_user/" method="get">
        <button type="submit">Добавить пользователя...</button>
    </form>
</body>
</html>
